<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Web server - 404</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
	<link rel="icon" href="/img/cloud.png">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>Not found</p>
	</div>
	{{>footer}}
</body>
</html>